/* when the form is first loaded and nothing has been searched for */
div.emptyList {
	color: #555;
	font-size: 16px;
}

/* when no search results are shown */
div.noResults {
	color: #555;
	font-size: 16px;
}

/* some very basic styling for the results list */
#ResourceResultsList {
	margin-bottom: 16px;
}


/* show a spinner while loading */
#ResourceResultsList.searchLoading {
	background: url('../images/ajax-loader.gif') no-repeat 0px 2px;
}

/* some elements are hidden on initial page load */
#ResourceResultsList .hidden { display: none; }