all:
  doctrine:
    class:        sfDoctrineDatabase
    param:
      #dsn:        mysql://USER:PASSWORD@localhost/donate_nashville
      dsn:         'sqlite:////tmp/donate.sqlite'

test:
  doctrine:
    class:        sfDoctrineDatabase
    param:
      #dsn:        mysql://USER:PASSWORD@localhost/donate_nashville_test
