all:
  doctrine:
    class:        sfDoctrineDatabase
    param:
      #dsn:        mysql://USER:PASSWORD@localhost/donate_nashville
      dsn:         'sqlite:///%SF_DATA_DIR%/donate.sqlite'

test:
  doctrine:
    class:        sfDoctrineDatabase
    param:
      #dsn:        mysql://USER:PASSWORD@localhost/donate_nashville_test
